*{
  margin: 0 auto;
}

html, body{
	width: 100%;
}

.gauche, .centre{
	display:inline-block;
}

.droite{
	display:inline-block;
	float:right;
}

#banniere .droite #lien1, #banniere .droite #lien2{
	display:inline-block;
}

#banniere{
	background-color:black;
	height:7rem;
}
#banniere img{
	height:4rem;
	margin-left:1rem;
	margin-top:1rem;
}

#banniere .centre img{
	margin-left:20rem;
}
